name: Chatapp
description: A new Flutter project.


publish_to: 'none' 
version: 1.0.0+1

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter


  cupertino_icons: ^0.1.3
  google_sign_in: ^4.4.3
  firebase_auth: ^0.16.0
  shared_preferences: ^0.5.6+3
  cloud_firestore: ^0.13.5
  random_string: ^2.0.1
  

dev_dependencies:
  flutter_test:
    sdk: flutter


flutter:

 
  uses-material-design: true

 
  assets:
    - assets/images/
    

 